.header {
    background-color: Black;
    background-image: url("https://www.wallpaperflare.com/static/696/87/605/avatar-the-last-airbender-avatar-last-airbender-wallpaper.jpg");
    background-repeat: no-repeat;
    min-height: 200px;
    padding: 100px 20px; 
    padding-bottom: 40px;
    color: antiquewhite;
    text-shadow: 2px 2px 0 #000;
    text-align: center;
  }
  
  .header h1 {
    
    margin: 0;
    margin-bottom: 30px;
    font-size: 5rem;
    text-align: center;
    padding-left: 20px;
  }

  .header h2 {
    /* margin-top: 100px; */
    padding-top: 5px;
  }
  